:root
{
    --primary-color:#262324;
    --secondary-color:#232840;
    --text-color:#9ac6c9;
    --accept-color1:#41f775;
    --accept-color2:#bbffce;
    --cancel-color1:#ff2da1;
    --cancel-color2:#ffb4dd;
    --fun-font:'DynaPuff', cursive;
    --pixel-font: 'Silkscreen', cursive;
}